.animate-wave {
  animation: wave 3s ease-in-out infinite;
}

.animate-wave-reverse {
  animation: wave-reverse 4s ease-in-out infinite;
}

.animate-wave-slow {
  animation: wave-slow 5s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    transform: translateX(-100%) skewX(-15deg);
  }

  50% {
    transform: translateX(100%) skewX(15deg);
  }
}

@keyframes wave-reverse {
  0%,
  100% {
    transform: translateX(100%) skewX(15deg);
  }

  50% {
    transform: translateX(-100%) skewX(-15deg);
  }
}

@keyframes wave-slow {
  0%,
  100% {
    transform: translateX(-100%) skewX(-10deg) scale(1.1);
  }

  50% {
    transform: translateX(100%) skewX(10deg) scale(0.9);
  }
}
